@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** * 1. Correct the line height in all browsers. * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections ========================================================================== */
/** * Remove the margin in all browsers. */
body {
  margin: 0; }

/** * Render the `main` element consistently in IE. */
main {
  display: block; }

/** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** * 1. Add the correct box sizing in Firefox. * 2. Show the overflow in Edge and IE. */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics ========================================================================== */
/** * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent; }

/** * 1. Remove the bottom border in Chrome 57- * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/** * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/** * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content ========================================================================== */
/** * Remove the border on images inside links in IE 10. */
img {
  border-style: none; }

/* Forms ========================================================================== */
/** * 1. Change the font styles in all browsers. * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/** * Show the overflow in IE. * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/** * Remove the inheritance of text transform in Edge, Firefox, and IE. * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/** * Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/** * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/** * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/** * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/** * 1. Correct the text wrapping in Edge and IE. * 2. Correct the color inheritance from `fieldset` elements in IE. * 3. Remove the padding so developers are not caught out when they zero out * `fieldset` elements in all browsers. */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/** * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/** * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto; }

/** * 1. Add the correct box sizing in IE 10. * 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/** * 1. Correct the odd appearance in Chrome and Safari. * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/** * Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/** * 1. Correct the inability to style clickable types in iOS and Safari. * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive ========================================================================== */
/* * Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block; }

/* * Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Misc ========================================================================== */
/** * Add the correct display in IE 10+. */
template {
  display: none; }

/** * Add the correct display in IE 10. */
[hidden] {
  display: none; }

:root {
  --black: #242424;
  --darkgrey: #888888;
  --lightgrey: #242424;
  --textgrey: #aaaaaa;
  --grey-bg: #f0f0f0;
  --white: #E3E3E3;
  --main: #19ADBA;
  --main-yellow: #FFC716;
  --con-size: 15px;
  --container: 728px;
  --font: "gilroy", sans-serif;
  --part-margin: 60px; }

@media (min-width: 768px) {
  :root {
    --con-size: calc((100% - var(--container)) / 2); } }

@media (min-width: 1024px) {
  :root {
    --container: 1000px; } }

@media (min-width: 1200px) {
  :root {
    --container: 1170px;
    --part-margin: 110px; } }

@font-face {
  font-family: 'gilroy';
  src: url("fonts/gilroy-regular.eot");
  src: local("☺"), url("fonts/gilroy-regular.woff") format("woff"), url("fonts/gilroy-regular.ttf") format("truetype"), url("fonts/gilroy-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'gilroy';
  src: url("fonts/gilroy-medium.eot");
  src: local("☺"), url("fonts/gilroy-medium.woff") format("woff"), url("fonts/gilroy-medium.ttf") format("truetype"), url("fonts/gilroy-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'gilroy';
  src: url("fonts/gilroy-semibold.eot");
  src: local("☺"), url("fonts/gilroy-semibold.woff") format("woff"), url("fonts/gilroy-semibold.ttf") format("truetype"), url("fonts/gilroy-semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'gilroy';
  src: url("fonts/gilroy-bold.eot");
  src: local("☺"), url("fonts/gilroy-bold.woff") format("woff"), url("fonts/gilroy-bold.ttf") format("truetype"), url("fonts/gilroy-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

.header {
  padding-left: var(--con-size);
  padding-right: var(--con-size);
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header__medals {
    display: none; }

@media (min-width: 768px) {
  .header__medals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.brand-medals {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .brand-medals__one {
    max-width: 115px;
    width: 30%;
    height: auto; }

.first {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 35px;
  padding-left: var(--con-size);
  padding-right: var(--con-size); }
  .first-bg {
    background-image: url("../images/first-bg.jpg");
    background-size: auto 41%;
    background-position: top center;
    background-repeat: no-repeat;
    border-bottom-right-radius: 320px 40px;
    border-bottom-left-radius: 320px 40px;
    overflow: hidden; }
    @media (min-width: 1200px) {
      .first-bg {
        border-bottom-right-radius: 65% 140px;
        border-bottom-left-radius: 65% 140px; } }
  .first__worker--main {
    display: none; }
  .first__worker--mobile {
    display: block;
    width: 100%;
    margin-top: -25px; }
  .first__medals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto; }
    .first__medals .brand-medals__one {
      max-width: 30%; }
  .first__text, .first__form {
    position: relative; }

@media (min-width: 350px) {
  .first__worker--mobile {
    margin-top: -50px; } }

@media (min-width: 520px) {
  .first__worker--mobile {
    margin-top: -120px; } }

@media (min-width: 768px) {
  .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: var(--con-size);
    padding-right: var(--con-size);
    padding-bottom: 40px; }
    .first__worker {
      position: absolute;
      left: 0;
      bottom: 0px; }
      .first__worker--mobile {
        display: none; }
    .first__medals {
      display: none; }
    .first-bg {
      background-size: cover; }
    .first__connect {
      width: 80%; } }

@media (min-width: 1024px) {
  .first {
    padding-bottom: 100px; }
    .first__text {
      background: -o-radial-gradient(#fff, transparent);
      background: radial-gradient(#fff, transparent); }
    .first__worker--main {
      display: block;
      width: 65%;
      left: 10%;
      -webkit-transform: translate(-10%, 0px);
          -ms-transform: translate(-10%, 0px);
              transform: translate(-10%, 0px); }
    .first__connect {
      width: 50%; }
    .first__form {
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%; } }

@media (min-width: 1200px) {
  .first {
    margin-top: 65px;
    padding-bottom: 280px; }
    .first__worker--main {
      width: 50%;
      left: 32%;
      -webkit-transform: translate(-32%, 0);
          -ms-transform: translate(-32%, 0);
              transform: translate(-32%, 0); }
    .first__text {
      max-width: 480px; }
    .first__connect {
      width: auto;
      max-width: 505px; } }

@media (min-width: 1200px) {
  .first {
    padding-bottom: 200px; }
    .first__text {
      max-width: 480px; }
    .first__connect {
      width: auto;
      max-width: 505px; } }

@media (min-width: 1900px) {
  .first {
    margin-top: 65px;
    padding-bottom: 280px; }
    .first__worker--main {
      max-width: 960px;
      left: 37%;
      -webkit-transform: translate(-37%, 0);
          -ms-transform: translate(-37%, 0);
              transform: translate(-37%, 0); }
    .first__text {
      max-width: 480px; }
    .first__connect {
      width: auto;
      max-width: 505px; } }

.connect {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 25px; }
  .connect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: skew(-10deg);
        -ms-transform: skew(-10deg);
            transform: skew(-10deg);
    background-color: var(--grey-bg);
    border-radius: 10px;
    z-index: -1; }
  .connect__icon {
    -webkit-box-flex: 45px;
        -ms-flex: 45px 1 0px;
            flex: 45px 1 0;
    margin-right: 15px; }
  .connect__text {
    font-weight: 500;
    color: var(--black);
    line-height: 1.3; }
    .connect__text--marked {
      font-weight: 700;
      color: var(--main); }

@media (min-width: 1024px) {
  .connect {
    margin-top: 20px;
    padding: 10px 20px; }
    .connect__text {
      font-size: 14px; } }

@media (min-width: 1200px) {
  .connect {
    margin-top: 30px;
    padding: 15px 30px; }
    .connect__icon {
      -webkit-box-flex: 65px;
          -ms-flex: 65px 1 0px;
              flex: 65px 1 0;
      margin-right: 20px; }
    .connect__text {
      font-size: 20px;
      line-height: 1.5; } }

.main-form {
  margin-top: 40px;
  border: 8px solid #fff;
  border-radius: 8px;
  padding: 1px;
  -webkit-box-shadow: 0px 0px 10px #E3E3E3;
          box-shadow: 0px 0px 10px #E3E3E3;
  border-radius: 17px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#19ADBA), to(rgba(25, 173, 186, 0.2)));
  background-image: -o-linear-gradient(top, #19ADBA, rgba(25, 173, 186, 0.2));
  background-image: linear-gradient(180deg, #19ADBA, rgba(25, 173, 186, 0.2)); }
  .main-form__bg {
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 8px; }
  .main-form__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    color: var(--black);
    text-align: center; }
    .main-form__title--marked {
      font-weight: 500;
      color: var(--main); }
  .main-form__label {
    display: block;
    text-align: center;
    font-weight: 500;
    color: var(--textgrey);
    font-size: 12px;
    line-height: 14px; }
    .main-form__label + .main-form__label {
      margin-top: 15px; }
    .main-form__label--privacy {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      max-width: 160px; }
  .main-form__input {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 30px;
    border-radius: 90px;
    border: 2px solid var(--grey-bg);
    background-color: var(--grey-bg);
    color: var(--black);
    font-size: 14px;
    line-height: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none; }
    .main-form__input:focus {
      border-color: var(--darkgrey); }
    .main-form__input::-webkit-input-placeholder {
      color: var(--darkgrey); }
    .main-form__input::-moz-placeholder {
      color: var(--darkgrey); }
    .main-form__input:-ms-input-placeholder {
      color: var(--darkgrey); }
    .main-form__input::-ms-input-placeholder {
      color: var(--darkgrey); }
    .main-form__input::placeholder {
      color: var(--darkgrey); }
  .main-form__checkbox {
    position: relative;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -ms-flex-preferred-size: 20px;
        flex-basis: 20px;
    width: 12px;
    height: 12px;
    border: 1px solid var(--textgrey);
    cursor: pointer;
    border-radius: 2px;
    outline: none; }
    .main-form__checkbox:hover {
      background-color: var(--main);
      opacity: 0.6; }
    .main-form__checkbox:focus {
      border-color: var(--main); }
    .main-form__checkbox:checked::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: var(--main); }
  .main-form__submit {
    margin-top: 10px; }

@media (min-width: 520px) {
  .main-form__label br {
    display: none; } }

@media (min-width: 768px) {
  .main-form {
    margin-top: 0; } }

@media (min-width: 1024px) {
  .main-form__label--privacy {
    max-width: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto; }
  .main-form__label br {
    display: inline; }
  .main-form__checkbox {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    margin-right: 10px; }
  .main-form__submit {
    margin-top: 15px; } }

@media (min-width: 1200px) {
  .main-form {
    max-width: 400px; } }

.second {
  position: relative;
  margin-top: var(--part-margin);
  padding-left: var(--con-size);
  padding-right: var(--con-size); }
  .second__content {
    margin-top: 40px; }
  .second__btn-con {
    margin-top: 40px; }
  .second__bg {
    display: none; }

@media (min-width: 1024px) {
  .second {
    overflow: hidden; }
    .second__content {
      padding: 30px 0;
      background-color: #fff;
      border-radius: 10px; }
    .second__btn-con {
      max-width: 290px;
      margin-left: auto;
      margin-right: auto; }
    .second__bg {
      display: block;
      position: absolute;
      z-index: -1; }
      .second__bg--left {
        top: 10%;
        left: -5%;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .second__bg--right {
        bottom: 20%;
        right: 5%; } }

@media (min-width: 1200px) {
  .second {
    overflow: hidden; }
    .second__content {
      margin-top: 60px;
      padding: 0 0 50px; }
    .second__bg--spray {
      top: 5%;
      left: 10%;
      -webkit-transform: rotate(35deg);
          -ms-transform: rotate(35deg);
              transform: rotate(35deg); }
    .second__bg--gloves {
      right: 0%;
      bottom: 0; } }

@media (min-width: 1700px) {
  .second__bg--spray {
    top: -3%;
    left: -10%;
    -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
            transform: rotate(35deg); }
  .second__bg--gloves {
    right: 0;
    bottom: 0; } }

@media (min-width: 1900px) {
  .second__bg--spray {
    left: 0%; } }

.profits__one + .profits__one {
  margin-top: 25px; }

@media (min-width: 768px) {
  .profits__one + .profits__one {
    margin-top: 40px; } }

@media (min-width: 1024px) {
  .profits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .profits__one + .profits__one {
      margin-top: 0px; } }

@media (min-width: 1200px) {
  .profits {
    padding-top: 0; } }

.profit__icon {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 10px; }

.profit__title {
  margin: 0;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center; }
  .profit__title--marked {
    color: var(--main); }
  .profit__title br {
    display: none; }

.profit__list {
  margin-top: 20px;
  padding: 0;
  list-style: none; }

.profit__item {
  position: relative;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: var(--black); }
  .profit__item::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--main); }

@media (min-width: 1024px) {
  .profit {
    padding: 10px 20px; }
    .profit__title br {
      display: inline; }
    .profit + .profit {
      position: relative; }
      .profit + .profit::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(var(--main)), to(transparent));
        background-image: -o-linear-gradient(bottom, transparent, var(--main), transparent);
        background-image: linear-gradient(0deg, transparent, var(--main), transparent); } }

@media (min-width: 1200px) {
  .profit {
    padding: 50px 80px; }
    .profit__icon {
      margin-bottom: 30px; }
    .profit__title {
      font-size: 28px; }
    .profit__list {
      max-width: 275px;
      margin-bottom: 0; }
    .profit__item {
      padding-left: 0;
      font-size: 20px; }
      .profit__item + .profit__item {
        margin-top: 40px; }
      .profit__item::before {
        left: -15px; } }

.third {
  position: relative;
  padding-top: var(--part-margin);
  border-bottom-right-radius: 320px 40px;
  border-bottom-left-radius: 320px 40px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 1200px) {
    .third {
      border-bottom-right-radius: 65% 140px;
      border-bottom-left-radius: 65% 140px; } }
  .third__img {
    display: block; }
  .third__pluses {
    margin-top: 30px; }
  .third__bg {
    display: block;
    position: absolute;
    z-index: -1; }
    .third__bg--spray {
      top: 15%;
      right: -10%;
      -webkit-transform: rotate(-35deg) scaleX(-1);
          -ms-transform: rotate(-35deg) scaleX(-1);
              transform: rotate(-35deg) scaleX(-1);
      width: 100px; }
    .third__bg--gloves {
      right: -50px;
      top: 66%;
      -webkit-transform: scaleX(-1);
          -ms-transform: scaleX(-1);
              transform: scaleX(-1);
      width: 130px; }

@media (min-width: 520px) {
  .third__img {
    margin-top: -100px; }
  .third__bg {
    display: none; } }

@media (min-width: 1024px) {
  .third {
    position: relative;
    padding-bottom: 150px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #F8F8F8), color-stop(50%, transparent)), url(../images/third-bg.jpg);
    background-image: -o-linear-gradient(top, #F8F8F8 10%, transparent 50%), url(../images/third-bg.jpg);
    background-image: linear-gradient(180deg, #F8F8F8 10%, transparent 50%), url(../images/third-bg.jpg);
    background-size: auto, cover; }
    .third__img {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-top: -100px; }
    .third__bg {
      display: none; } }

@media (min-width: 1200px) {
  .third {
    padding-bottom: 500px; } }

@media (min-width: 1900px) {
  .third {
    padding-bottom: 700px; } }

.contacts__privacy {
  display: none; }

.pluses {
  padding-left: var(--con-size);
  padding-right: var(--con-size); }
  .pluses__one + .pluses__one {
    margin-top: 45px; }

@media (min-width: 520px) {
  .pluses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .pluses__one {
      margin-bottom: 50px; }
      .pluses__one + .pluses__one {
        margin-top: 0; } }

@media (min-width: 1200px) {
  .pluses {
    margin-top: 40px; }
    .pluses__one {
      margin-bottom: 30px; } }

.plus__title {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #000;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2; }

.plus__text {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content; }

.plus__number {
  color: var(--main);
  font-size: 60px;
  line-height: 1.2;
  margin-right: 15px; }

.plus__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000; }
  .plus__description--marked {
    font-weight: 700;
    color: var(--main); }

@media (min-width: 768px) {
  .plus {
    width: 45%; } }

@media (min-width: 1025px) {
  .plus {
    width: 30%; } }

@media (min-width: 1200px) {
  .plus__number {
    margin-right: 20px;
    font-size: 80px; }
  .plus__text {
    font-size: 28px; }
  .plus__description {
    margin: 10px 0 0; } }

.fourth {
  margin-top: var(--part-margin); }

.footer {
  padding: var(--part-margin) 0;
  padding-left: var(--con-size);
  padding-right: var(--con-size);
  background-color: var(--black); }
  .footer__logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
  .footer__copy {
    margin-top: 30px; }
    .footer__copy .privacy {
      display: block;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .footer__copy .privacy + .privacy {
        margin-top: 10px; }

@media (min-width: 1024px) {
  .footer__copy {
    display: none; }
  .footer__logo {
    margin: 0; } }

.footer-info__contacts {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }

@media (min-width: 1024px) {
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer-info__contacts {
      margin: 0; }
    .footer-info__callback {
      width: 290px; } }

.main-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 600;
  color: #fff;
  font-size: 28px;
  line-height: 1.2;
  text-decoration: none; }
  .main-phone__icon {
    width: 20px;
    margin-right: 10px; }

.privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  color: var(--darkgrey);
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .privacy:not(.copyright) {
    border-bottom: 1px solid currentColor; }

body {
  font-family: var(--font);
  color: var(--black);
  background-color: #F8F8F8; }

img {
  width: 100%; }

picture {
  line-height: 0; }

.title {
  margin: 0;
  font-weight: 600;
  color: var(--black);
  font-size: 28px;
  line-height: 1.4; }
  .title br {
    display: none; }
  .title--marked {
    display: block;
    padding: 5px;
    color: #fff;
    background-color: var(--main);
    border-radius: 8px; }
  .title--small {
    display: block;
    font-size: 18px;
    line-height: 1.3; }

@media (min-width: 350px) {
  .title--small {
    max-width: 50%; } }

@media (min-width: 520px) {
  .title {
    font-size: 30px; }
    .title--marked {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    .title--small {
      max-width: unset; } }

@media (min-width: 1200px) {
  .title {
    font-size: 48px; }
    .title--marked {
      padding: 10px;
      line-height: 1; }
    .title--small {
      font-size: 28px; } }

.subtitle {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  color: var(--black); }
  .subtitle--third {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto; }
  .subtitle__info-third {
    display: block;
    margin-top: 15px;
    font-size: 22px;
    line-height: 1.2;
    text-align: center; }

@media (min-width: 520px) {
  .subtitle--third {
    max-width: 450px; } }

@media (min-width: 1024px) {
  .subtitle--third {
    max-width: unset; } }

@media (min-width: 1200px) {
  .subtitle {
    font-size: 48px; }
    .subtitle__info-third {
      display: inline;
      font-size: 48px; } }

.main-offer {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFDA6A), color-stop(61.18%, rgba(255, 255, 255, 0))), #FFB713;
  background: -o-linear-gradient(top, #FFDA6A 0%, rgba(255, 255, 255, 0) 61.18%), #FFB713;
  background: linear-gradient(180deg, #FFDA6A 0%, rgba(255, 255, 255, 0) 61.18%), #FFB713;
  -webkit-box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.2), 0 4px 0 #c89725, 0 15px 40px rgba(255, 218, 106, 0.7);
          box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.2), 0 4px 0 #c89725, 0 15px 40px rgba(255, 218, 106, 0.7);
  border-radius: 90px;
  border: none;
  overflow: hidden;
  text-decoration: none;
  color: var(--black);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  .main-offer::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-50deg);
        -ms-transform: translate(-50%, -50%) rotate(-50deg);
            transform: translate(-50%, -50%) rotate(-50deg);
    height: 70%;
    width: 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    background-color: #fff;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center; }
  .main-offer__text {
    position: relative;
    z-index: 5; }
  .main-offer:hover {
    opacity: 0.6; }

.brand-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: var(--darkgrey);
  text-decoration: none;
  line-height: 1.3;
  font-weight: 500; }
  .brand-name__logo {
    width: 95px;
    margin-right: 14px; }
  .brand-name__name {
    max-width: 200px; }
    .brand-name__name br {
      display: none; }

@media (min-width: 768px) {
  .brand-name__name br {
    display: inline; } }
