.first{
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 35px;
	@include container;
	&-bg{
		background-image: url('../images/first-bg.jpg');
	    background-size: auto 41%;
	    background-position: top center;
		background-repeat: no-repeat;
		@include roundcorners;

	}
	&__worker{
		&--main{
			display: none;
		}
		&--mobile{
			display: block;
			width: 100%;
			margin-top: -25px;
		}
	}
	&__medals{
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		margin-right: auto;
		margin-left: auto;
		.brand-medals__one{
			max-width: 30%;
		}
	}
	&__text, &__form{
		position: relative;
	}
}
@media (min-width: 350px){
	.first{
		&__worker{
			&--mobile{
				margin-top: -50px;
			}
		}
	}
}
@media (min-width: 520px){
	.first{
		&__worker{
			&--mobile{
				margin-top: -120px;
			}
		}
	}
}
@media (min-width: 768px){
	.first{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: space-between;
		@include container;
		padding-bottom: 40px;
		&__worker{
			position: absolute;
			left: 0;
			bottom: 0px;
			// transform: translate(-50%, 0);
			// z-index: 1;
			&--mobile{
				display: none;
			}
		}
		&__medals{
			display: none;
		}
		&-bg{
			background-size: cover;
		}
		&__connect{
			width: 80%;
		}
	}
}
@media (min-width: 1024px){
	.first{
		padding-bottom: 100px;
		&__text{
			background: radial-gradient(#fff, transparent);
		}
		&__worker{
			&--main{
				display: block;
				width: 65%;
			    left: 10%;
			    transform: translate(-10%, 0px);
			}
		}
		&__connect{
			width: 50%;
		}
		&__form{
			flex-basis: 40%;
		}
	}
}
@media (min-width: 1200px){
	.first{
		margin-top: 65px;
		padding-bottom: 280px;
		&__worker{
			&--main{
				width: 50%;
				left: 32%;
				transform: translate(-32%, 0);
			}
		}
		&__text{
			max-width: 480px;
		}
		&__connect{
			width: auto;
			max-width: 505px;
		}
	}
}
@media (min-width: 1200px){
	.first{
		padding-bottom: 200px;
		&__worker{
			&--main{
				// width: 50%;
				// left: 32%;
				// transform: translate(-32%, 0);
			}
		}
		&__text{
			max-width: 480px;
		}
		&__connect{
			width: auto;
			max-width: 505px;
		}
	}
}
@media (min-width: 1900px){
	.first{
		margin-top: 65px;
		padding-bottom: 280px;
		&__worker{
			&--main{
				max-width: 	960px;
				left: 37%;
				transform: translate(-37%, 0);
			}
		}
		&__text{
			max-width: 480px;
		}
		&__connect{
			width: auto;
			max-width: 505px;
		}
	}
}
.connect{
	position: relative;
	z-index: 5;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 25px;
	&::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: skew(-10deg);
		background-color: var(--grey-bg);
		border-radius: 10px;
		z-index: -1;
	}
	&__icon{
		flex: 45px 1 0;
		margin-right: 15px;
	}
	&__text{
		font-weight: 500;
		color: var(--black);
		line-height: 1.3;
		&--marked{
			font-weight: 700;
			color: var(--main);
		}
	}
}
@media (min-width: 1024px){
	.connect{
		margin-top: 20px;
		padding: 10px 20px;
		&__text{
			font-size: 14px;
		}
	}

}
@media (min-width: 1200px){
	.connect{
		margin-top: 30px;
		padding: 15px 30px;
		&__icon{
			flex: 65px 1 0;
			margin-right: 20px;
		}
		&__text{
			font-size: 20px;
			line-height: 1.5;
		}
	}
}
.main-form{
	margin-top: 40px;
	border: 8px solid #fff;
	border-radius: 8px;
	padding: 1px;
	box-shadow: 0px 0px 10px #E3E3E3;
	border-radius: 17px;
	background-image: linear-gradient(180deg, #19ADBA, rgba(25, 173, 186, 0.2));
	&__bg{
		padding: 20px 30px;
		background-color: #fff;
		border-radius: 8px;
	}
	&__title{
		margin: 0;
		margin-bottom: 30px;
		font-weight: 600;
		font-size: 22px;
		line-height: 1.2;
		color: var(--black);
		text-align: center;
		&--marked{
			font-weight: 500;
			color: var(--main);
		}
	}
	&__label{
		display: block;
		text-align: center;
		font-weight: 500;
		color: var(--textgrey);
		font-size: 12px;
		line-height: 14px;
		& + &{
			margin-top: 15px;
		}
		&--privacy{
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			flex-flow: row nowrap;
			align-items: flex-start;
			justify-content: flex-start;
			max-width: 160px;
		}
	}
	&__input{
		position: relative;
		display: block;
		width: 100%;
		margin-top: 10px;
		padding: 30px;
		border-radius: 90px;
		border: 2px solid var(--grey-bg);
		background-color: var(--grey-bg);
		color: var(--black);
		font-size: 14px;
		line-height: 16px;
		box-sizing: border-box;
		outline: none;
		&:focus{
			border-color: var(--darkgrey);
		}
		&::placeholder{
			color: var(--darkgrey);
		}
		&--email{
			&::after{}
		}
		&--phone{
			&::after{}
		}
	}
	&__checkbox{
		position: relative;
		appearance: none;
		flex-basis: 20px;
		width: 12px;
		height: 12px;
		border: 1px solid var(--textgrey);
		cursor: pointer;
		border-radius: 2px;
		outline: none;
		&:hover{
			background-color: var(--main);
			opacity: 0.6;
		}
		&:focus{
			border-color: var(--main);
		}
		&:checked::after{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: var(--main);
			// background-image: linear-gradient();
		}

	}
	&__submit{
		margin-top: 10px;
	}
}
@media (min-width: 520px){
	.main-form{
		&__label{
			br{
				display: none;
			}
			&--privacy{
			}

		}
	}
}
@media (min-width: 768px){
	.main-form{
		margin-top: 0;
	}
}
@media (min-width: 1024px){
	.main-form{
		&__label{
			&--privacy{
				max-width: unset;
				width: fit-content;
				margin-left: auto;
				margin-right: auto;
			}
			br{
				display: inline;
			}			
		}
		&__checkbox{
			flex-basis: unset;
			margin-right: 10px;
		}
		&__submit{
			margin-top: 15px;
		}
	}
}
@media (min-width: 1200px){
	.main-form{
		max-width: 400px;
	}
}