@font-face {
  font-family: 'gilroy';
  src: url('fonts/gilroy-regular.eot');
  src: local('☺'), url('fonts/gilroy-regular.woff') format('woff'), url('fonts/gilroy-regular.ttf') format('truetype'), url('fonts/gilroy-regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'gilroy';
  src: url('fonts/gilroy-medium.eot');
  src: local('☺'), url('fonts/gilroy-medium.woff') format('woff'), url('fonts/gilroy-medium.ttf') format('truetype'), url('fonts/gilroy-medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'gilroy';
  src: url('fonts/gilroy-semibold.eot');
  src: local('☺'), url('fonts/gilroy-semibold.woff') format('woff'), url('fonts/gilroy-semibold.ttf') format('truetype'), url('fonts/gilroy-semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'gilroy';
  src: url('fonts/gilroy-bold.eot');
  src: local('☺'), url('fonts/gilroy-bold.woff') format('woff'), url('fonts/gilroy-bold.ttf') format('truetype'), url('fonts/gilroy-bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

