.footer{
	padding: var(--part-margin) 0;
	@include container;
	background-color: var(--black);
	&__logo{
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	&__copy{
		margin-top: 30px;
		.privacy{
			display: block;
			width: fit-content;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			& + .privacy{
				margin-top: 10px;
			}
		}
	}
}
@media (min-width: 1024px){
	.footer{
		&__copy{
			display: none;
		}
		&__logo{
			margin: 0;
		}
	}
}
.footer-info{
	&__contacts{
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
}
@media (min-width: 1024px){
	.footer-info{
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__contacts{
			margin: 0;
		}
		&__callback{
			width: 290px;
		}
	}

}
.contacts{

}
.main-phone{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 600;
	color: #fff;
	font-size: 28px;
	line-height: 1.2;
	text-decoration: none;	
	&__icon{
		width: 20px;
		margin-right: 10px;
	}
}
.privacy{
	font-weight: 400;
	font-size: 12px;
	line-height: 1.15;
	color: var(--darkgrey);
	text-decoration: none;
	@include transition;
	&:not(.copyright){
		border-bottom: 1px solid currentColor;
	}
}