.header{
	@include container;
	padding-top: 20px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	&__medals{
		display: none;
	}
}
@media (min-width: 768px){
	.header{
		&__medals{
			display: flex;
		}
	}
}
.brand-medals{
	// display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	&__one{
		max-width: 115px;
		width: 30%;
		height: auto;
	}
	
}