@mixin container{
	padding-left: var(--con-size);
	padding-right: var(--con-size);
}
@mixin transition{
	transition: 0.3s;
}
@mixin roundcorners{
	border-bottom-right-radius: 320px 40px;
    border-bottom-left-radius: 320px 40px;
    overflow: hidden;
    @media (min-width: 1200px){
	    border-bottom-right-radius: 65% 140px;
	    border-bottom-left-radius: 65% 140px;

    }
}
