.second{
	position: relative;
	margin-top: var(--part-margin);
	@include container;
	&__content{
		margin-top: 40px;
	}
	&__btn-con{
		margin-top: 40px;
	}
	&__bg{
		display: none;
	}
}
@media(min-width: 1024px){
	.second{
		overflow: hidden;
		&__content{
			padding: 30px 0;
			background-color: #fff;
			border-radius: 10px;
		}
		&__btn-con{
			max-width: 290px;
			margin-left: auto;
			margin-right: auto;
		}
		&__bg{
			display: block;
			position: absolute;
			z-index: -1;
			&--left{
				top: 10%;
				left: -5%;
				transform: rotate(45deg);
			}
			&--right{
				bottom: 20%;
				right: 5%;
				
			}
		}
	}
}
@media(min-width: 1200px){
	.second{
		overflow: hidden;
		&__content{
			margin-top: 60px;
			padding: 0 0 50px;
		}
		&__bg{
			&--spray{
				top: 5%;
			    left: 10%;
			    transform: rotate(35deg);
			}
			&--gloves{
				right: 0%;
				bottom: 0;
			}
		}
	}
}
@media(min-width: 1700px){
	.second{
		&__bg{
			&--spray{
				top: -3%;
			    left: -10%;
			    transform: rotate(35deg);
			}
			&--gloves{
				right: 0;
				bottom: 0;
			}
		}
	}
}

@media(min-width: 1900px){
	.second{
		&__bg{
			&--spray{
			    left: 0%;
			}
			&--gloves{
			}
		}
	}
}

.profits{
	&__one{
		& + &{
			margin-top: 25px;
		}
	}
}
@media(min-width: 768px){
	.profits{
		&__one{
			& + &{
				margin-top: 40px;
			}
		}
	}	
}
@media(min-width: 1024px){
	.profits{
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		&__one{
			& + &{
				margin-top: 0px;
			}
		}
	}
}
@media(min-width: 1200px){
	.profits{
		padding-top: 0;
	}
}
.profit{
	&__header{}
	&__icon{
		display: block;
		width: 100%;
		max-width: 200px;
		margin: 0 auto 10px;
	}
	&__title{
		margin: 0;
		font-size: 22px;
		line-height: 1.2;
		font-weight: 600;
		text-align: center;
		&--marked{
			color: var(--main);
		}
		br{
			display: none;
		}
	}
	&__list{
		margin-top: 20px;
		padding: 0;
		list-style: none;
	}
	&__item{
		position: relative;
		padding-left: 20px;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.3;
		color: var(--black);
		&::before{
			content: "";
			position: absolute;
			top: 9px;
			left: 0;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: var(--main);
		}
	}
}

@media(min-width: 1024px){
	.profit{
		padding: 10px 20px;
		&__title{
			br{
				display: inline;
			}
		}
		& + &{
			position: relative;
			&::before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 1px;
				background-image: linear-gradient(0deg, transparent, var(--main), transparent);
			}
		}

	}
}
@media(min-width: 1200px){
	.profit{
		padding: 50px 80px;
		&__icon{
			margin-bottom: 30px;
		}
		&__title{
			font-size: 28px;
		}
		&__list{
			max-width: 275px;
			margin-bottom: 0;
		}
		&__item{
			padding-left: 0;
			font-size: 20px;
			& + &{
				margin-top: 40px;
			}
			&::before{
				left: -15px;
			}
		}
	}
}