.third{
	position: relative;
	padding-top: var(--part-margin);
	@include roundcorners;
	// background-image: url('../images/third-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	&__img{
		display: block;
	}
	&__pluses{
		margin-top: 30px;
	}
	&__bg{
		display: block;
		position: absolute;
		z-index: -1;
		&--spray{
			top: 15%;
			right: -10%;
			transform: rotate(-35deg) scaleX(-1);
			width: 100px;
		}
		&--gloves{
			right: -50px;
			top: 66%;
			transform: scaleX(-1);
			width: 130px;
		}

	}
}
@media (min-width: 520px){
	.third{
		&__img{
			margin-top: -100px;
		}
		&__bg{
			display: none;
		}
	}
}
@media (min-width: 768px){
	.third{
		&__img{
			// margin-top: -300px;
		}
	}
}
@media (min-width: 1024px){
	.third{
		position: relative;
		padding-bottom: 150px;
		background-image: linear-gradient(180deg, #F8F8F8 10%, transparent 50%), url(../images/third-bg.jpg);
		background-size: auto, cover;
		&__img{
			position: absolute;
			left: 0;
			bottom: 0;
			margin-top: -100px;
		}
		&__bg{
			display: none;
		}
	}
}
@media (min-width: 1200px){
	.third{
		padding-bottom: 500px;
	}
}
@media (min-width: 1900px){
	.third{
		padding-bottom: 700px;
	}
}

.contacts{
	&__privacy{
		display: none;
	}
}

.pluses{
	@include container;
	&__one{
		& + &{
			margin-top: 45px;
		}
	}
}
@media (min-width: 520px){
	.pluses{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		&__one{
			margin-bottom: 50px;
			& + &{
				margin-top: 0;
			}
		}
	}
}

@media (min-width: 768px){
	.pluses{
	}
}
@media (min-width: 1200px){
	.pluses{
		margin-top: 40px;
		&__one{
			margin-bottom: 30px;
		}
	}
}

.plus{
	&__header{
	}
	&__title{
		margin: 0;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;
		color: #000;
		font-weight: 600;
		font-size: 22px;
		line-height: 1.2;
	}
	&__text{
		width: min-content;
	}
	&__number{
		color: var(--main);
		font-size: 60px;
		line-height: 1.2;
		margin-right: 15px;
	}
	&__description{
		font-weight: 400;
		font-size: 18px;
		line-height: 1.5;
		color: #000;
		&--marked{
			font-weight: 700;
			color: var(--main);
		}
	}
}
@media (min-width: 768px){
	.plus{
		width: 45%;
	}
}
@media (min-width: 1025px){
	.plus{
		width: 30%;
	}
}
@media (min-width: 1200px){
	.plus{
		&__number{
			margin-right: 20px;
			font-size: 80px;
		}
		&__text{
			font-size: 28px;
		}
		&__description{
			margin: 10px 0 0;
		}
	}
}