:root{
	--black: #242424;
	--darkgrey: #888888;
	--lightgrey: #242424;
	--textgrey: #aaaaaa;
	--grey-bg: #f0f0f0;
	--white: #E3E3E3;
	--main: #19ADBA;
	--main-yellow: #FFC716;

	--con-size: 15px;
	--container: 728px;
	--font: "gilroy", sans-serif;
	--part-margin: 60px;
	

}
@media (min-width: 768px){
	:root{
		--con-size: calc((100% - var(--container)) / 2);
	}
}
@media (min-width: 1024px){
	:root{
		--container: 1000px;
	}
}
@media (min-width: 1200px){
	:root{
		--container: 1170px;
		--part-margin: 110px;

	}
}