@import "normalize";
@import "vars";
@import "fonts";
@import "mixins";
@import "header";
@import "first";
@import "second";
@import "third";
@import "fourth";
@import "footer";


body{
	font-family: var(--font);
	color: var(--black);
	background-color: #F8F8F8;
}
img{
	width: 100%;
}
picture{
	line-height: 0;
}
.title{
	margin: 0;
	font-weight: 600;
	color: var(--black);
	font-size: 28px;
	line-height: 1.4;
	br{
		display: none;
	}
	&--marked{
		display: block;
		padding: 5px;
		color: #fff;
		background-color: var(--main);
		border-radius: 8px;
	}
	&--small{
		display: block;
		font-size: 18px;
		line-height: 1.3;
	}
}
@media (min-width: 350px){
	.title{
		&--small{
			max-width: 50%;

		}
	}
}
@media (min-width: 520px){
	.title{
		font-size: 30px;
		&--marked{
			width: fit-content;
		}
		&--small{
			max-width: unset;
		}
	}
}
@media (min-width: 1200px){
	.title{
		font-size: 48px;
		&--marked{
			padding: 10px;
			line-height: 1;
		}
		&--small{
			font-size: 28px;
		}
	}
}
.subtitle{
	margin: 0;
	text-align: center;
	font-weight: 600;
	font-size: 28px;
	line-height: 1.2;
	color: var(--black);
	&--third{
		max-width: 220px;
		margin-left: auto;
		margin-right: auto;
	}
	&__info-third{
		display: block;
		margin-top: 15px;
		font-size: 22px;
		line-height: 1.2;
		text-align: center;
	}
}
@media (min-width: 520px){
	.subtitle{
		&--third{
			max-width: 450px;
		}
	}
}
@media (min-width: 1024px){
	.subtitle{
		&--third{
			max-width: unset;
		}

	}
}
@media (min-width: 1200px){
	.subtitle{
		font-size: 48px;
		&__info-third{
			display: inline;
			font-size: 48px;
		}

	}
}
.main-offer{
	position: relative;
	display: block;
	width: 100%;
	padding: 30px 0;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 1px;
	background: linear-gradient(180deg, #FFDA6A 0%, rgba(255, 255, 255, 0) 61.18%), #FFB713;
	box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.2), 0 4px 0 #c89725, 0 15px 40px rgba(255, 218, 106, 0.70);
	border-radius: 90px;
	border: none;
	overflow: hidden;
	text-decoration: none;
	color: var(--black);
	@include transition;
	cursor: pointer;
	&::after{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-50deg);
		height: 70%;
		width: 100%;
		filter: blur(40px);
		background-color: #fff;
		transform-origin: center center;
	}
	&__text{
		position: relative;
		z-index: 5;
	}
	&:hover{
		opacity: 0.6;
	}
}

.brand-name{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	color: var(--darkgrey);
	text-decoration: none;
	line-height: 1.3;
	font-weight: 500;
	&__logo{
		width: 95px;
		margin-right: 14px;
	}
	&__name{
		max-width: 200px;
		br{
			display: none;
		}
	}
}
@media(min-width: 768px){
	.brand-name{
		&__name{
			br{
				display: inline;
			}
		}
	}
}